name: Checks

on:
  pull_request:
  push:
    branches:
      - main

# Cancel any ongoing previous run if a PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    name: Linting and Formatting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: set PY
      run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
    - uses: pre-commit/action@v3.0.1

  tests:
    name: Tests
    strategy:
      matrix:
        godot-version:
          - 4.3.0
          - 4.4.0-dev7
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Godot
      uses: chickensoft-games/setup-godot@v2.3.2
      with:
        version: ${{ matrix.godot-version }}
        use-dotnet: false
    - name: Initialize Godot
      run: |
        godot --path . --headless --import
    - name: Run tests
      run: |
        godot --path . --headless -s addons/gut/gut_cmdln.gd -gexit
